body{ margin: 25px;border: 10px;}

h1{ font-size: 2.3rem; margin: 50px; color: darkslategrey; text-align: left;}
h1:hover{background: linear-gradient(rgb(119, 158, 114)  ) ; border-radius: 6px 3px;
  font-style: italic;text-decoration: underline;
   color: aliceblue; width: 400px; text-align: center;}

img{ max-width: 100%; display: block; height: auto; border-radius: 6px; }

.grid{display: grid; grid-template-columns: 1fr 1fr ; gap: 20px;}


.experiencias{margin:30px; padding: 10px;
  color:  rgb(119, 158, 114); text-align: center; 
   font-size: 1.5rem; display:grid; text-decoration: underline;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.dados{ display: flex; 
   background-color: rgb(119, 158, 114) ; color: aliceblue;
   margin: 40px; gap:35px;
   list-style: none; font-size: 2.0rem; 
   justify-content:center;  
   border-radius: 15px 5px ; }

   .contato{ display: flex; 
   margin: 40px; gap:35px;
   list-style: none; font-size: 2.0rem; 
   justify-content:center;}

  

li{ font-size: 1.3rem; margin:15px; list-style: none; gap: 10px; text-align: center; }

.linkedin{ width: 30px;height: 50px; justify-content:  end;}

@media(max-width:600px) { 
 li {  font-size: 1rem; 
  }
}

@media(max-width:600px) { 
 img { justify-items: center; width: 300px; height: 250px;
  }
}

@media(max-width:600px) { 
 h1 { justify-items: center;font-size: 18px; display: block; 
  }
}

@media(max-width:600px) { 
 .experiencias {  font-size: 1.5rem; text-align: center; margin: -15px; gap:-10px
  }
}
@media(max-width:600px) { 
  .dados  { align-items: end;
     border: white 1px solid; text-align: justify; 
    width: 180px; margin: 50px; gap: 5px; }
}
